.product-container {
    width: 90%;
    margin: 40px auto;
    display: flex;
    gap: 60px;
}

.product-image img {
    width: 550px;
    border-radius: 10px;
    object-fit: cover;
}

.product-info {
    flex: 1;
}

.breadcrumb {
    color: #2a67ff;
    font-weight: 600;
}

.product-title {
    font-size: 28px;
    font-weight: 700;
    margin-top: 10px;
}

.rating {
    margin-top: 10px;
    font-size: 18px;
}

.reviews {
    color: #2a67ff;
}

.price {
    font-size: 38px;
    color: #000;
    margin-top: 20px;
    font-weight: 700;
}

.old-price {
    color: #d32f2f;
    font-weight: 600;
}

.add-cart-btn {
    background: #ffde00;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    margin-top: 25px;
    cursor: pointer;
    transition: 0.2s;
}

    .add-cart-btn:hover {
        background: #ffd500;
    }
